[submodule "external/sundials"]
	path = external/sundials
	url = https://github.com/LLNL/sundials.git
[submodule "external/dealii"]
	path = external/dealii
	url = https://github.com/dealii/dealii.git
[submodule "external/boost"]
	path = external/boost
	url = https://github.com/boostorg/boost.git
[submodule "external/doxygen-awesome-css"]
	path = external/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "external/oneTBB"]
	path = external/oneTBB
	url = https://github.com/uxlfoundation/oneTBB.git
[submodule "external/AdaptiveCpp"]
	path = external/AdaptiveCpp
	url = https://github.com/AdaptiveCpp/AdaptiveCpp.git
